@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&family=Outfit&family=Red+Hat+Display:wght@600&family=Roboto+Mono:ital@1&display=swap');

:root{
    /*Font Weights*/
    --font-weight1: 400;
    --font-weight2: 700;

    /*Font Size*/
    font-size: 18px;

    /*Colors*/
    --primary-color1: hsl(185, 75%, 39%);
    --primary-color2: hsl(229, 23%, 23%);
    --primary-color3: hsl(0, 0%, 3%);
    --neutral-color:hsl(0, 0%, 59%);

}

body{
    background: var(--primary-color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-pattern-bottom.svg),url(./images/bg-pattern-top.svg);
    background-position: bottom right, top left;
    background-repeat: no-repeat;
    font-family: 'Kumbh sans', 'sans serif';
}

.container{
    margin-top: 6em;
    margin-bottom: 1em;
    background: white;
    border-radius: 1em;
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.bg-image{
    width: 100%;
    background-image: url(./images/bg-pattern-card.svg);
    min-height: 6em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-bottom: 1em;
}

.person{
    background-image: url(./images/image-victor.jpg);
    width: 5.3em;
    height: 5.3em;
    background-repeat: no-repeat ;
    position: absolute;
    border-radius: 3em;
    border: 4px solid white;
    margin-bottom: 5em;
}

/** Header BG **/
.header-bg {
    width: 100%;
    max-width: inherit;
    height: 90%;
    min-height: 8.8rem;
    background-image: url("./images/bg-pattern-card.svg");
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  
  /** Profile Pic **/
  .profile-pic {
    justify-content: center;
    background-image: url("./images/image-victor.jpg");
    position: absolute;
    top: 23%;
    left: 35%;
    width: 6rem;
    height: 6rem;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid white;
  }


.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.line-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0em;
    height: 2em;
    margin-top: 2em;
}

.para1{
    font-size: 1em;
    color: var(--neutral-color);
}

.line-2{
    margin: 0em;
}
.para2{
    font-size: 0.9em;
    color: var(--neutral-color);
    margin-top: 0em;
    margin-bottom: 1em;
}

hr{
    width: 90%;
}

.social-media-numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.box-data{
    margin: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}



/*Utility Classes*/
.bold-data{
    font-weight: var(--font-weight2);
    color: var(--primary-color3);
    margin: 0em;
}

.lite-data{
    font-weight: var(--font-weight1);
    color: var(--neutral-color);
    font-size: 0.7em;
    padding: 0;
    margin: 0em;
}